#textdomain wesnoth-Fate_of_a_Princess

#define ABILITY_FOAP_CAVE_MAN
    [hides]
        id=foap_cave_man
        name= _ "cave man"
        name_inactive= _ "cave man"
        description= _ "cave man: 
This unit can hide in caves, and remain undetected by its enemies.
Enemy units cannot see this unit while it is in caves, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement"
        affect_self=yes
        [filter_self]
            [filter_location]
                terrain=Uu
            [/filter_location]
        [/filter_self]
    [/hides]
#enddef


